@import url('reset.css');

*, *:before, *:after {
    box-sizing: border-box;
}

.table {
    display: flex;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid red;
}

.board {
    width: 600px;
    border: 1px solid red;
}

.square {
    display: inline-block;
    float: left;
    width: 12.5%;
    height: 12.5%;
    border: 1px solid red;
}

.square:nth-child(18),
.square:nth-child(20),
.square:nth-child(22),
.square:nth-child(24),
.square:nth-child(25),
.square:nth-child(27),
.square:nth-child(29),
.square:nth-child(31),
.square:nth-child(34),
.square:nth-child(36),
.square:nth-child(38),
.square:nth-child(40),
.square:nth-child(41),
.square:nth-child(43),
.square:nth-child(45),
.square:nth-child(47) {
    background: #4c4c4c;
}

.panel {
    width: 150px;
    border: 1px solid red;
}

.panel__left .box {
    height: 33.33%;
    border: 1px solid red;
}

.panel__right .box {
    height: 50%;
    border: 1px solid red;
}

/*
============
Piece Styles
============
 */

#a8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#b8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#c8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#d8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
  
}

#e8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#f8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#g8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#h8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#a7,
#c7,
#e7,
#g7 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#b7,
#d7,
#f7,
#h7 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#a2,
#c2,
#e2,
#g2 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#b2,
#d2,
#f2,
#h2 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#a1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#b1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg)
    center / 90% 90%
    no-repeat
    #fbfbfb;
}

#c1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#d1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg)
    center / 90% 90%
    no-repeat
    #fbfbfb;
}

#e1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#f1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg)
    center / 90% 90%
    no-repeat
    #fbfbfb;
}

#g1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#h1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg)
    center / 90% 90%
    no-repeat
    #fbfbfb;
}
